*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DIN Pro";

}

html{
    scroll-behavior: smooth;
}

@font-face {
    font-family: "DIN Pro" ;
    src: url("./fonts/DINPro.woff2") format("woff2");
    font-style: normal;
}

.primary_text {
    font-weight: 900;
}

.primary_color{
    color: #aaa;
}

/* INDEX CSS */
@media screen and (max-width: 768px){
    nav{
        border: 1px solid red;
        display: none;
    }

    .navbar_mobile{
        display: block;
        padding: 20px 20px;
    }

    .navbar_mobile img{
        width: 150px;
    }

    article{
        display: flex;
        flex-direction: column-reverse;
    }

    .article_mobile_second{
        display: none;
    }

    .container_info_mobile{
        margin-top: 0 !important;
        position: relative !important; 
        top: 3rem !important;
        align-self: center;
    }

    .container_mobile_image_third{
        width: 90% !important;
        align-self: center;
        margin-top: 10rem;
    }

    
    
    .article_mobile_third{
        margin-top: 0 !important;
    }

    .article_mobile_fourth{
        display: block;
        margin-right: 30px;
    }

    .article_mobile_fifth{
        margin-left: 30px;
    }

    .container_mobile_sixth{
        display: block;
        margin-right: 30px;
    }

    .article_mobile_seventh{
        margin-left: 30px ;

    }


    .container_img img{
        width: 60% !important;
    }

    .container_text{
        width: 70%;
        align-self: center; 
    }

    .container_img{
        width: 100%;
    }

    .mobile_image_photo img{
        width: 85% !important;
        margin-top: 10rem;
    }


    .mobile_about_text{
        width: 90% !important;
        align-items: center;
    }

    .photo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .photo img{
        margin: 20px;
    }

}


/* PAGES CSS */
@media screen and (max-width: 768px){
    nav img{
        width: 130px;
    }

    .mobile_text{
        width: 80% !important;
    }

    section{
        margin-top: 0 !important;
    }

    .mobile_section{
        flex-direction: column;
        align-items: center;
    }
    
    .container_info{
        width: 100%;
        margin-left: 40px;
        margin-top: 40px;
    }

    .mobile_container{
        align-items: center !important;
        justify-content: center !important;
        top: 0 !important;
        margin-right: 0 !important;
        margin-top: 50px;
    }

    .mobile_container img{
        width: 90% !important;
    }

    .img_dry{
        width: 100% !important;
    }


    .section_dry{
        margin-left: 0 !important;
    }

    .section_dry img{
        width: 90% !important;
    }

    footer{
        display: none !important;
    }
}